03_AI Email processing autoresponder with approval (Yes_No).json
{
  "name": "03_AI Email processing autoresponder with approval (Yes/No)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "11590323-6857-4f45-8716-de4fe3f90dec",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "position": [
        -1488,
        -272
      ],
      "typeVersion": 2,
      "credentials": {
        "imap": {
          "id": "v9HpGWVPGccsSYoM",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "html": "={{ $json.textHtml }}",
        "options": {}
      },
      "id": "485dad9d-dcf9-4c8c-aac7-2667951b7769",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "position": [
        -1280,
        -272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fromEmail": "={{ $('Email Trigger (IMAP)').item.json.to }}",
        "toEmail": "={{ $('Email Trigger (IMAP)').item.json.from }}",
        "subject": "=Re: {{ $('Email Trigger (IMAP)').item.json.subject }}",
        "html": "={{ $('Write email').item.json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "05aeec8b-17a3-4094-a642-9390a7c973bc",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        528,
        -288
      ],
      "webhookId": "f84fcde7-6aac-485a-9a08-96a35955af49",
      "typeVersion": 2.1,
      "credentials": {
        "smtp": {
          "id": "lCpf7tcLDdSP6PK5",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base_01",
        "toolDescription": "Extracts information regarding the request made.",
        "qdrantCollection": {
          "__rl": true,
          "value": "=company_knowledge",
          "mode": "id"
        },
        "includeDocumentMetadata": false,
        "options": {}
      },
      "id": "0306efc4-a1c9-4239-9534-69e1cde79d9c",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        -128,
        48
      ],
      "typeVersion": 1,
      "credentials": {
        "qdrantApi": {
          "id": "CEvHGgBGTYHebJ1h",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "718a2782-774d-4547-b5e5-1da445d72140",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -128,
        224
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "5fAQpBuElEg8gh08",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operationMode": "nodeInputBinary",
        "options": {
          "binaryDataKey": "={{ $json.data }}",
          "summarizationMethodAndPrompts": {
            "values": {
              "combineMapPrompt": "=Write a concise summary of the following in max 100 words:\n\n\"{{ $json.data }}\"\n\nDo not enter the total number of words used.",
              "prompt": "=Write a concise summary of the following in max 100 words :\n\n\"{{ $json.data }}\"\n\nDo not enter the total number of words used."
            }
          }
        }
      },
      "id": "3ff597b3-2ac8-4f71-8822-99a5fd14df12",
      "name": "Email Summarization Chain",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        -1056,
        -272
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write the text to reply to the following email:\nFrom : {{ $('Email Trigger (IMAP)').item.json.from }}\nContent: \n{{ $('Email Summarization Chain').item.json.response.text }}\nUse my name as Speedocode Solutions.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert at answering emails. You need to answer them professionally based on the information you have. This is a business email. Be concise and never exceed 100 words. Only the body of the email, not create the subject.\n\nIt must be in HTML format and you can insert (if you think it is appropriate) only HTML characters such as <br>, <b>, <i>, <p> where necessary."
        }
      },
      "id": "403af81e-daf1-4836-9a69-fdd860014eb1",
      "name": "Write email",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -336,
        -272
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "d5d993ae-feb4-40f4-a974-89d8220e1eaf",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -336,
        48
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "5fAQpBuElEg8gh08",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "759dc0f9-f582-492c-896c-6426f8410127",
              "name": "email",
              "type": "string",
              "value": "={{ $json.response.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ba2ec51e-7371-415d-91c6-f6cc86bf282a",
      "name": "Set Email",
      "type": "n8n-nodes-base.set",
      "position": [
        -560,
        -272
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "5c377c1c-43c6-45e7-904e-dbbe6b682686",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true"
            }
          ]
        },
        "options": {
          "ignoreCase": false
        }
      },
      "id": "756b88d1-7618-44c0-abfc-914bfc240f36",
      "name": "Approve?",
      "type": "n8n-nodes-base.if",
      "position": [
        256,
        -272
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "nhithees@gmail.com",
        "subject": "=[Approval Required] {{ $('Email Trigger (IMAP)').item.json.subject }}",
        "message": "=<h3>MESSAGE</h3>\n{{ $('Email Trigger (IMAP)').item.json.textHtml }}\n\n<h3>AI RESPONSE</h3>\n{{ $json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "id": "29d56e11-d984-48d6-a968-453d838bb184",
      "name": "Send Draft",
      "type": "n8n-nodes-base.gmail",
      "position": [
        32,
        -272
      ],
      "webhookId": "d6dd2e7c-90ea-4b65-9c64-523d2541a054",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "zASfhQA3m4b4buvw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "id": "c799ae11-8f8d-4c4f-a2dd-7211010f6a0e",
      "name": "GPT",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1072,
        -80
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "5fAQpBuElEg8gh08",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Write email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Approve?": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Email Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Email": {
      "main": [
        [
          {
            "node": "Write email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Draft": {
      "main": [
        [
          {
            "node": "Approve?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write email": {
      "main": [
        [
          {
            "node": "Send Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Write email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Summarization Chain": {
      "main": [
        [
          {
            "node": "Set Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT": {
      "ai_languageModel": [
        [
          {
            "node": "Email Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8c931acd-f2f2-4979-ac17-6e414603ada3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9152717d6a868ded22298fc043191f2973173f9f10a0511281842998517e2b0f"
  },
  "id": "NJjgYmD6YQsAdrHHUQtQE",
  "tags": []
}